@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Blinker:wght@600&family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@1,300&family=League+Spartan:wght@500;600;700&family=Manrope:wght@400;500&family=Open+Sans:wght@400;700&family=Outfit:wght@400;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700;1,800&family=Roboto:ital,wght@0,500;1,400&family=Rubik:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 2px solid red;
} */

body,
html {
  @apply flex w-full h-full;
  flex-grow: 1;
  flex-shrink: 1;
}

main {
  @apply w-full h-full flex flex-col font-be;
  position: relative;
  z-index: 0;
  flex-grow: 1;
}

.over-lay {
  @apply w-full h-full  max-[639px]:block sm:hidden;
  position: absolute;
  background-image: linear-gradient(
    to top,
    hsla(0, 0%, 80%, 0.5),
    hsla(0, 0%, 80%, 0)
  );
  top: 75px;
  z-index: 1;
}


.over-lay-remove{
  @apply hidden
}

.overlay-nav {
  @apply flex justify-around mt-4;
}

.overlay-list {
  @apply flex flex-col bg-white items-center justify-center mt-14 gap-4 w-11/12 h-3/6 m-auto;
  font-weight: 700;
  color: hsl(228, 39%, 23%);
}

.close {
@apply hover:cursor-pointer max-[639px]:flex sm:hidden;
font-size: 1.8rem;
}

header {
  @apply w-full mt-12 flex;
  /* flex-shrink: 1; */
}

nav {
  @apply flex w-full justify-around;
}

nav img {
  @apply max-[480px]:w-2/5;
}

nav button {
  @apply max-[639px]:hidden;
}
nav ul {
  @apply flex gap-7 font-semibold max-[641px]:hidden;
  color: hsl(228, 39%, 23%);
}

.ham {
  @apply max-[639px]:flex sm:hidden;
  font-size: 1.5rem;
}

.nav-control{
  @apply max-[639px]:flex sm:hidden;
}

nav ul li {
  @apply hover:cursor-pointer;
}

nav ul li:hover {
  color: hsl(227, 12%, 61%);
}

.get-started {
  @apply p-2 text-white rounded-full;
}

.go {
  @apply p-1 text-white rounded-full ml-2;
  background-color: hsl(12, 88%, 59%);
  width: 25%;
}

.go:hover {
  background-color: hsla(12, 88%, 75%);
}

.section-one {
  @apply flex flex-col w-full gap-20;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: right -160px bottom 40px;
}

.section-one-part-two {
  @apply items-center flex flex-col-reverse w-full sm:justify-around sm:flex-row;
}

.illustration-text {
  @apply w-4/5 md:w-2/3;
}

.illustration {
  @apply w-full md:w-2/6;
}

.illustration-container {
  @apply max-[641px]:items-center w-full flex flex-col gap-4 md:w-2/5;
}
.illustration-text-title {
  @apply font-bold;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 2.2rem;
}

.illustration-text-title-inner-text {
  color: hsl(227, 12%, 61%);
}

.section-two {
  @apply flex flex-col w-full items-center py-4 sm:flex-row  sm:justify-around;
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: left -300px top 180px;
}

.section-two-part-one {
  @apply w-3/4 sm:w-1/3;
}

.title-section-two {
  color: hsl(228, 39%, 23%);
  font-weight: 700;
  font-size: 1.6rem;
}

.differerent-about {
  @apply flex flex-col gap-3;
}
.content {
  color: hsl(227, 12%, 61%);
}

.section-two-part-two {
  @apply w-3/4 flex flex-col gap-4 sm:w-2/6;
}

.section-two-inner-content {
  @apply flex gap-2 items-center;
}

.section-two-part-two-title {
  color: hsl(228, 39%, 23%);
  font-weight: 500;
}

h3 {
  @apply text-center;
  color: hsl(228, 39%, 23%);
  font-weight: 500;
  font-size: 1.6rem;
}

.section-three {
  @apply flex flex-col gap-12 py-4;
}

.section-three-button {
  @apply flex justify-center;
}

figure {
  @apply max-[639px]:p-10 w-4/5 flex flex-col justify-center sm:w-3/12;
  background-color: hsl(0, 0%, 98%);
}

.testimonies {
  @apply hidden w-full sm:flex justify-around;
}

.figure-image-container {
  @apply flex w-full justify-center;
  margin-top: -25px;
}

.figure-title {
  @apply text-center;
}

.figure-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.section-four {
  @apply flex max-[639px]:flex-col  max-[639px]:items-center  max-[639px]:justify-center max-[639px]:gap-5 sm:justify-around py-10;
  background-color: hsl(12, 88%, 59%);
}

.simplify {
  @apply text-white text-center max-[639px]:w-6/12;
  font-weight: 500;
  font-size: 1.6rem;
}

.section-five {
  @apply w-full py-14 flex  max-[639px]:gap-10 max-[639px]:flex-col-reverse  max-[639px]:items-center max-[639px]:justify-center sm:justify-around;
  background-color: hsl(233, 12%, 13%);
}

.section-one-part-five {
  @apply flex max-[639px]:flex-col-reverse flex-col gap-24;
}

.icons {
  @apply flex gap-5;
  color: white;
  font-size: 1.8rem;
}

.icons p:hover {
  color: hsl(12, 88%, 59%);
  cursor: pointer;
}

.footer-input {
  @apply flex flex-col gap-24;
}

input {
  @apply rounded-full p-2;
  outline: none;
  color: hsl(12, 88%, 59%);
}

input:focus {
  border: 2px solid hsl(12, 88%, 59%);
}

.footer-links {
  @apply flex flex-col gap-5 text-white;
}
.footer-links li:hover {
  color: hsl(12, 88%, 59%);
  cursor: pointer;
}

.input-container {
  @apply flex;
}

.copy-right {
  @apply max-[639px]:hidden sm:flex;
  color: hsl(227, 12%, 61%);
}

.copy-right-2 {
  @apply max-[639px]:flex sm:hidden;
  color: hsl(227, 12%, 61%);
}

.input-set {
  @apply max-[639px]:w-full flex flex-col gap-1;
}

.error {
  color: hsl(12, 88%, 59%);
}

.slide-show-container {
  @apply w-full flex flex-col items-center gap-2 sm:hidden;
}

.slide-show {
  @apply w-4/5;
  background-color: hsl(227, 12%, 61%);
}

.loader-container {
  @apply flex gap-2;
}

.load {
  @apply hover:cursor-pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.footer-links-container {
  @apply flex gap-10;
}

@media (max-width: 639px) {
  .section-one {
    background-position: right -300px bottom 250px;
  }
  .figure-image-container {
    margin-top: -60px;
  }
  .simplify {
    font-size: 2.2rem;
  }
  .go {
    @apply py-2 px-6;
    width: 45%;
  }
  

}
